@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

/* CSS Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* html,
body {
    height: 100%;
} */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*-------------------- */

html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 2rem 1rem 7rem;
  font-family: "Inter", sans-serif;
  background: hsl(36, 100%, 99%);
}

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 2rem;
}

.logotype {
  width: 3rem;
}

.image {
  display: block;
  background: none;
  border: none;
  padding: 0;
}

.list {
  display: none;
  list-style-type: none;
  justify-content: space-between;
  width: 30rem;
}

.list li {
  display: inline-block;
}

.list a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  cursor: grab;
}

.list a:hover {
  color: hsl(5, 85%, 63%);
  cursor: grab;
}

.firstPartInfo {
  display: grid;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
}

.firstPartInfo__picture {
  grid-area: one;
}

.firstPartInfo__heading-h1 {
  grid-area: two;
}

.bright-future-web {
  grid-area: three;
}

.new {
  grid-area: four;
}

.firstPartInfo__heading-h1 {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 2.7rem;
  line-height: 3rem;
  margin: 1.5rem 0;
}

.bright-future-web__paragraph {
  color: hsl(236, 13%, 42%);
}

.bright-future-web__btn {
  background: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  text-transform: uppercase;
  border-style: none;
  padding: 1rem 2.6rem;
  letter-spacing: 5px;
  font-size: 0.9rem;
  margin: 2rem 0 4rem;
  font-weight: 700;
}

.bright-future-web__btn:hover {
  background: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  cursor: grab;
}

.new {
  background: hsl(240, 100%, 5%);
  padding: 1.5rem;
}

.new__heading-h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2.2rem;
}

.new__heading-h3 {
  color: hsl(36, 100%, 99%);
  font-size: 1.3rem;
  margin: 2rem 0 0.7rem;
}

.new__heading-h3--margin-top {
  margin-top: 1rem;
}

.new__heading-h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: grab;
}

.new__paragraph {
  color: hsl(233, 8%, 79%);
}

.new__paragraph--border-bottom {
  padding-bottom: 2rem;
  border-bottom: 2px solid hsl(236, 13%, 42%);
}

.secondPartInfo__01 {
  grid-area: four;
}

.secondPartInfo__02 {
  grid-area: five;
}

.secondPartInfo__03 {
  grid-area: six;
}

.secondPartInfo {
  display: grid;
  gap: 2rem;
  margin-top: 5rem;
  grid-template-areas:
    "four"
    "five"
    "six";
}

.secondPartInfo--display .secondPartInfo__01,
.secondPartInfo--display .secondPartInfo__02,
.secondPartInfo--display .secondPartInfo__03 {
  display: grid;
  grid-template-columns: 7rem auto;
}

.secondPartInfo--margin .secondPartInfo__retro-pcs,
.secondPartInfo--margin .secondPartInfo__top-laptops,
.secondPartInfo--margin .secondPartInfo__gaming-growth {
  margin-left: 1rem;
}

.secondPartInfo__span {
  color: hsl(233, 8%, 79%);
  font-size: 2.2rem;
  font-weight: 700;
}

.secondPartInfo__heading-h4 {
  color: hsl(240, 100%, 5%);
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0.2rem 0 0.6rem;
}

.secondPartInfo__heading-h4:hover {
  color: hsl(5, 85%, 63%);
  cursor: grab;
}

.secondPartInfo__paragraph {
  color: hsl(236, 13%, 42%);
}

.hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: white;
  z-index: 2;
  padding: 1.4rem;
}

.close-sidebar {
  display: none;
  width: 100%;
  justify-content: end;
  background: none;
  border: none;
  padding: 0;
}

.slidebar-img {
  width: 1.8rem;
}

.sidebar__ul {
  list-style: none;
  padding: 5rem 0;
  line-height: 2.6rem;
}

.sidebar__ul a:link,
.sidebar__ul a:visited,
.sidebar__ul a:hover,
.sidebar__ul a:active {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 26, 0.45);
  z-index: 1;
}

@media (min-width: 44.75rem) {
  .image {
    display: none;
  }

  .list {
    display: flex;
  }
}

@media (min-width: 79.067rem) {
  body {
    padding: 6rem 14rem 9rem;
  }

  nav {
    margin-bottom: 3rem;
  }

  .logotype {
    width: auto;
  }

  .firstPartInfo {
    gap: 1.5rem;
    grid-template-areas:
      "one one four"
      "two three four";
  }

  .firstPartInfo__heading-h1 {
    font-size: 3.8rem;
    line-height: 3.6rem;
    margin-top: 0;
  }

  .firstPartInfo__heading-h1,
  .bright-future-web__btn {
    margin-bottom: 0;
  }

  .secondPartInfo {
    place-content: center;
  }
}

@media (min-width: 89.8125rem) {
  .secondPartInfo {
    gap: 1rem;
    grid-template-areas: "four five six";
  }
}
